@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('"https://fontlibrary.org//face/metropolis');
* {
    margin: auto;
    padding: auto;  
    box-sizing:border-box;
}

body {
   font-family: 'MetropolisRegular';
   font-weight: normal;
   font-style: normal;
}

h1 {
  font-size: 3.5em;
}

h2 {
  color: rgb(131, 131, 131);
  font-size: 2em;
}

p {
  color: rgb(106, 105, 105);
  font-size: 1.3em;
}

.sub_container a {
  text-decoration: none;
  margin-left: 0;
  background: -webkit-radial-gradient(rgba(39,207,223,1), rgba(89,81,227,1), rgba(119,0,255,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links_anchor {
  background: rgb(216, 216, 216);
    padding-top: 2px;
    padding-bottom: 2px;
}

.links_anchor img {
  width: 25px;
  height: 25px;
} 

#linkedin_img {
  margin-left: 90%;
}

#github_img {
  margin: 0;
  margin-left: 2%;
} 

nav {
  padding-bottom: 5px;
  padding-top: 25px;
}


#nav_a {
  display: flex;
}

.col-sm-1 {

}

nav h3 {
  margin-left: 20px;
  font-size: 1.3em;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: rgb(55, 124, 242);
}




.under_colour {
  background: rgb(127,249,117);
  background: linear-gradient(90deg, rgba(127,249,117,1) 0%, rgba(0,182,60,1) 25%, rgba(39,207,223,1) 50%, rgba(89,81,227,1) 75%, rgba(119,0,255,1) 100%);
  padding: 5px 10px;
}

#body_info {
  background-image: url(./assets/banner2.jpeg);
  background-repeat: no-repeat;
  text-align: center;
}

#body_info h1 {
  margin-left: 50px; 

}
 

.carousel-item img {
  width: 100px;
  height: 300px;
}

#about_me_container {
  padding-top: 50px; 
  background: rgb(248, 249, 255);
  padding-bottom: 30px;
  margin-right: 0px;
  margin-left: 0px;
}

#about_me_container h1 {
  text-align: center;
}

.sub_container {
  min-height: 550px;
  background-color: white;
  border: 4px rgb(180, 200, 252) solid;
border-image: 
    linear-gradient(
      to bottom, 
      rgba(127,249,117,1), rgba(0,182,60,1), rgba(39,207,223,1), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.sub_container h2, p{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.sub_container img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.facts_container {
  padding-top: 100px;
}

.facts_container h1 {
    background: -webkit-radial-gradient(rgba(127,249,117,1), rgba(0,182,60,1), rgba(39,207,223,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#c2 {
    display: flex;
  justify-content: center;
  align-items: center;
}

#c2 button {
  background: white;
  font-size: 1.2em;
  padding: 30px 30px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, rgb(120, 228, 120), rgba(39,207,223,1));
}

#c2 button:active {
  
}

#c3 {
  padding: 50px;

  background-repeat: no-repeat;
  background-position: right;
  display: grid;
  justify-content: center;
  align-items: center;
}

#c3 p {
    font-size: 2em;
      background: -webkit-radial-gradient(rgba(39,207,223,1), rgba(89,81,227,1), rgba(119,0,255,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project_header {
  text-align: center;
  width: 80%;
}

.project_header button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
}

.review {
  background: rgba(39,207,223,1);
}

.completed {
  background:  rgba(127,249,117,1);
}

.inprogress {
  background: rgba(89,81,227,1);
}

.sub_container_proj {
  min-height: 450px;
  background-color: white;
  border: 4px rgb(180, 200, 252) solid;
border-image: 
    linear-gradient(
      to bottom, 
      rgba(127,249,117,1), rgba(0,182,60,1), rgba(39,207,223,1), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.sub_container_proj p {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}


.sub_container_proj video {
  min-width: 350px;
  min-height: 300px;
  max-width: 350px;
  max-height: 300px;
  display: block;
  margin: auto;
}

.project_header a {
    text-decoration: none;
  margin-left: 0;
  background: -webkit-radial-gradient(rgba(39,207,223,1), rgba(89,81,227,1), rgba(119,0,255,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#prob_header {
  max-height: 90px;
  padding-bottom: 60px;
}

.col-sm-12 {
  min-width: 350px;
  min-height: 400px;
}

.project_header .col-2 {
  text-align: left;
}

.project_header .col-6{
  text-align: right;
}

.project_header .row {
 
}

.under_colour_proj {
  background: rgb(127,249,117);
  background: linear-gradient(90deg, rgba(127,249,117,1) 0%, rgba(0,182,60,1) 25%, rgba(39,207,223,1) 50%, rgba(89,81,227,1) 75%, rgba(119,0,255,1) 100%);
  padding: 40px 10px;
  margin-bottom: 20px;
}

